@import "./normalize.css";

:root {
  --color--primary: rgb(50, 50, 158);
  --color--secondary: rgb(68, 175, 211);
  --color--social: rgb(62, 136, 62);
  --color--headings: rgb(20, 20, 150);
  --color--body: gray;
}
