<!-- Block with a max-width of 1140px -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, eaque?</p>
  </header>
</section>

<!-- Dark backgroung with a skeed -->
<section class="block block--dark block--skeed-right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, eaque?</p>
  </div>
</section>
