<section class="block container block-plans">
  <div class="grid grid--1x3">
    <!-- Plan -->
    <div class="plan">
      <!-- Card -->
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Servicios</h3>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
            <li class="list__item">Item 4</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="plan">
      <!-- Card -->
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Clientes</h3>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
            <li class="list__item">Item 4</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="plan">
      <!-- Card -->
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Another</h3>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
            <li class="list__item">Item 4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
