<section class="block block--dark block--skeed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Estudio Contable Mugica</h1>
      <p class="hero__tagline">La solucion a tus finanzas</p>
      <a href="#" class="btn btn--social btn--streched">Whatsapp</a>
    </header>
    <img
      class="hero__image"
      src="images/taxes1140.jpg"
      alt="Someone working with a notebook in a desk "
    />
  </div>
</section>
